<% include ./partials/header %>

<div class="container">
     <div class="row" >
          <div class="col-lg-9" >
                <div class="row img-thumbnail showProducts" >
                	  <% var flag = 0; %>
                    <% var i = 1; %>
                      <% products.forEach(function(product){ %>
                           <% if(flag == 0){ %>
                           		<div class="col-lg-6 border-right border-bottom" >
                           			 <p class="pname"> <%= product.product_name %> </p>
                           			 <span class="btn btn-primary btn-sm editbtn" onclick="makeEditable('<%= product.product_name %>',
                                 '<%= product.product_code %>','<%= product.product_price %>','<%= product.product_gst %>')" >Edit</span>
                           		</div>
                                <% i++; %>
                                <% flag = 1; %>

                           <% } else { %>
                           		<div class="col-lg-6 border-bottom" >
                           		 	  <p class="pname"> <%= product.product_name %> </p>
                           		 	  <span class="btn btn-primary btn-sm editbtn" onclick="makeEditable('<%= product.product_name %>',
                                 '<%= product.product_code %>','<%= product.product_price %>','<%= product.product_gst %>')" >Edit</span>
                           		</div>
                                <% flag = 0; %>
                                <% i++; %>

                           <% } %>


          		      <% }); %>
                             <!-- The Modal -->

                              <div id="myModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                  <span class="close">&times;</span>
                                  
                                  <div id="starContainerDiv">
                                       <div>
                                           <input id="code" style="margin-top: 2px;" class="form-control" type="text" name="code"  >
                                           <input id="name" style="margin-top: 2px;" class="form-control" type="text" name="name" >
                                           <input id="price" style="margin-top: 2px;" class="form-control" type="text" name="price"  >
                                           <input id="gst" style="margin-top: 2px;" class="form-control" type="text" name="gst">                                           

                                       </div>
                                       
                                       <button class="btn btn-outline-success" id="submitButton" style="float:left;margin-top: 5px;" onclick="update()" > 

                                        Submit</button>
                                  </div>
                                </div>

                              </div>

                </div>
          		

          </div>
          <div class="col-lg-3" >
          			
	               <div class="inputForm" >
	                   <h4 class="h4" > Add New Product </h4>
		               <form action="/product_entry" method="POST" >
		                      <div class="form-group" >
		                            
		                      		<input class="form-control" type="text" name="pCode" placeholder="Enter product code" >
		                      </div>
		                      <div class="form-group" >
		                      		<input class="form-control" type="text" name="pName" placeholder="Enter product name" >
		                      </div>
		                      <div class="form-group" >
		                      		<input class="form-control" type="number" name="pPrice" placeholder="Enter product price" >
		                      </div>
		                      <div class="form-group" >
		                      		<input class="form-control" type="number" name="pGst" placeholder="Enter GST applicable on product" >
		                      </div>
		                      <div class="form-group" >
		                      		<input class="btn btn-success" type="submit" value="Submit" >
		                      </div>

		               </form> 
		           </div>

          </div>
          
     </div>
     
</div>


<% include ./partials/footer %>